@page "/catfacts"
@inject CatFactService CatFactService
@using BlazorWebPage.Client.Services
@using BlazorWebPage.Client.Models
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<link href="css/custom-buttons.css" rel="stylesheet" />

<div class="d-grid gap-2 col-6 mx-auto mt-2">
    <div class="d-flex justify-content-center">
        <h3>Get your cat fact!</h3>
    </div>
    <br />
    <button class="btn-purple" @onclick="FetchCatFact"> Get fact! </button>
    <br />
    @if (isLoading)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else if (catFact != null)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cat Fact</h5>
                <p class="card-text">@catFact.Fact</p>
                <p class="card-text"><small class="text-muted">HTTP Status: @statusCode</small></p>
            </div>
        </div>
    }
</div>