@page "/"

<PageTitle>Start</PageTitle>

<h1>Home</h1>
<p>Welcome to my Blazor Webpage!</p>
<p>On the left Menu you can use the following features:</p>
<p>1. Here you can get a random cat fact!</p>
<p>2. My calculator build on my own API.</p>
<p>3. My GitHub profile!</p>
<img src="/img/MoewGirlThumbsUp.png">
